<main>
  <section appTrackVisibility id="welcome" dir="ltr">
    <div
      *ngIf="TrackVisibilityDirective && TrackVisibilityDirective.visibleOrNot"
      class="contentContainer"
    >
      <h1 class="fadeSlow">First</h1>
    </div>
  </section>
  <section id="second" dir="ltr">
    <div class="contentContainer">
      <h1 class="fadeSlow">Second</h1>
    </div>
  </section>
  <section id="third" dir="ltr">
    <div class="contentContainer">
      <h1 class="fadeSlow">Third</h1>
    </div>
  </section>
  <section id="fourth" dir="ltr">
    <div class="contentContainer">
      <h1 class="fadeSlow">Fourth</h1>
    </div>
  </section>
</main>
