<main>
  <section class="grid justify-center items-stretch" id="welcome" dir="ltr">
    <div
      inViewport
      [inViewportOptions]="{ threshold: [0] }"
      (inViewportAction)="onIntersection($event)"
      class="contentContainer grid justify-center items-start"
    >
      <h1 class="fadeSlow text-7xl">Hi!</h1>
      <div class="grid grid-cols-2">
        <h1 class="fadeSlow">I'm Alessandro,</h1>
        <h1 class="fadeSlow">a front end developer</h1>
      </div>
    </div>
  </section>
  <section id="second" dir="ltr">
    <div
      inViewport
      [inViewportOptions]="{ threshold: [0] }"
      (inViewportAction)="onIntersection($event)"
      class="contentContainer"
    >
      <h1 class="fadeSlow">Second</h1>
    </div>
  </section>
  <section id="third" dir="ltr">
    <div
      inViewport
      [inViewportOptions]="{ threshold: [0] }"
      (inViewportAction)="onIntersection($event)"
      class="contentContainer"
    >
      <img class="fadeSlow" src="http://placekitten.com/300/300" alt="" />

      <h1 class="fadeSlow">Third</h1>
    </div>
  </section>
  <section id="fourth" dir="ltr">
    <div
      inViewport
      [inViewportOptions]="{ threshold: [0] }"
      (inViewportAction)="onIntersection($event)"
      class="contentContainer"
    >
      <h1 class="fadeSlow">Fourth</h1>
    </div>
  </section>
</main>
