html,
body {
  height: 100%;
  // overflow: hidden;
}
h1,
h2,
p {
  font-family: lilita;
}
main {
  overflow: scroll;
  height: 100vh;
  // padding-bottom: 10vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  section {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
  }
  #welcome {
    background-image: url("https://64.media.tumblr.com/6cb0ae44278156aa660d95d55df340de/tumblr_nz14o7t0Z61skcd7fo1_500.gif");
    // mettere i credits nel footer a https://michaelshillingburg.tumblr.com/
    background-size: cover;
    background-repeat: no-repeat;

    #a {
      opacity: 0;
      animation: drop 1s linear forwards 0.5s;
    }
    #frontEnd {
      opacity: 0;
      animation: drop 3.5s linear forwards 1.5s;
    }
    #developer {
      opacity: 0;
      animation: drop 0.4s linear forwards 0.2s;
    }

    // h1 {
    //   padding: 50%;

    // }
  }

  #second {
    // background-image: url("https://64.media.tumblr.com/6cb0ae44278156aa660d95d55df340de/tumblr_nz14o7t0Z61skcd7fo1_500.gif");
    // transform: rotate(180deg);
    // background-size: cover;
    // background-repeat: no-repeat

    position: relative;
    //bouncing ballas

    .contentContainer {
      article {
        border: 2px solid green;
        position: absolute;
        bottom: -15px;
        img {
          max-height: 50rem;
        }
      }
    }

    text-align: center;
  }

  #second::before {
    content: "";
    background-image: url("https://64.media.tumblr.com/6cb0ae44278156aa660d95d55df340de/tumblr_nz14o7t0Z61skcd7fo1_500.gif");
    transform: rotate(180deg);
    overflow: hidden;
    z-index: -100;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 100px;
    left: 0;
    background-size: 100vh;
  }
  #third {
    background-image: url("https://64.media.tumblr.com/6cb0ae44278156aa660d95d55df340de/tumblr_nz14o7t0Z61skcd7fo1_500.gif");
    background-size: cover;
    background-repeat: no-repeat;

    //   h1 {
    text-align: center;
    //   }
  }
  #fourth {
    // background-image: url("https://64.media.tumblr.com/6cb0ae44278156aa660d95d55df340de/tumblr_nz14o7t0Z61skcd7fo1_500.gif");
    //  transform: rotate(180deg);
    //  background-size: cover;
    //  background-repeat: no-repeat

    position: relative;
    .contentContainer {
      img {
        width: 50px;
      }
    }

    text-align: center;
  }
  #fourth::before {
    content: "";
    background-image: url("https://64.media.tumblr.com/6cb0ae44278156aa660d95d55df340de/tumblr_nz14o7t0Z61skcd7fo1_500.gif");
    transform: rotate(180deg);
    overflow: hidden;
    z-index: -1000;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 100px;
    left: 0;
    background-size: 100vh;
  }

  .active {
    -webkit-animation: fade-in 3000ms ease-out both;
    animation: fade-in 3000ms ease-out both;
  }
  .inactive {
    display: hidden;
  }

  .fadeFast {
    -webkit-animation: fade-in 3000ms ease-out both;
    animation: fade-in 3000ms ease-out both;
  }
}

@media screen and (min-width: 780px) {
  main {
    overflow: scroll;
    height: 100vh;
    // padding-bottom: 10vh;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    section {
      height: 100vh;
      scroll-snap-align: start;
      position: relative;
    }
    #welcome {
      h1 {
        padding: 15%;
        text-align: center;
      }
      #a {
        opacity: 0;
        animation: drop 1s linear forwards 0.5s;
      }
      #frontEnd {
        opacity: 0;
        animation: drop 0.4s linear forwards 0.2s;
      }
      #developer {
        opacity: 0;
        animation: drop 0.4s linear forwards 0.2s;
      }
    }

    #second {
      // background-image: url("https://64.media.tumblr.com/6cb0ae44278156aa660d95d55df340de/tumblr_nz14o7t0Z61skcd7fo1_500.gif");
      // transform: rotate(180deg);
      // background-size: cover;
      // background-repeat: no-repeat

      position: relative;
      .contentContainer {
        // transform: rotate(180deg);
        position: absolute;
        bottom: -15px;
        article {
          img {
          }
        }
      }

      text-align: center;
    }

    #second::before {
      content: "";
      background-image: url("https://64.media.tumblr.com/6cb0ae44278156aa660d95d55df340de/tumblr_nz14o7t0Z61skcd7fo1_500.gif");
      transform: rotate(180deg);
      overflow: hidden;
      z-index: -100;
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 100px;
      left: 0;
      background-size: 100%;
    }
    #third {
      h1 {
        text-align: center;
        padding: 30%;
      }
    }
    #fourth {
      //   background-image: url("https://64.media.tumblr.com/6cb0ae44278156aa660d95d55df340de/tumblr_nz14o7t0Z61skcd7fo1_500.gif");
      //  transform: rotate(180deg);
      //    background-size: cover;
      //    background-repeat: no-repeat

      position: relative;
      .contentContainer {
        img {
          width: 50px;
        }
      }

      text-align: center;
    }

    #fourth::before {
      content: "";
      background-image: url("https://64.media.tumblr.com/6cb0ae44278156aa660d95d55df340de/tumblr_nz14o7t0Z61skcd7fo1_500.gif");
      transform: rotate(180deg);
      overflow: hidden;
      z-index: -100;
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 100px;
      left: 0;
      background-size: 100%;
    }

    .active {
      -webkit-animation: fade-in 3000ms ease-out both;
      animation: fade-in 3000ms ease-out both;
    }
    .inactive {
      display: hidden;
    }

    .fadeFast {
      -webkit-animation: fade-in 3000ms ease-out both;
      animation: fade-in 3000ms ease-out both;
    }
  }
}
.dropForBalls {
  -webkit-animation: dropBall 200ms ease-in;
  animation: dropBall 3000ms ease-out both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes drop {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
