html,
body {
  height: 100%;
  // overflow: hidden;
}
h1 {
  font-family: lilita;
}
main {
  overflow: scroll;
  height: 100vh;
  // padding-bottom: 10vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  section {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
  }
  #welcome {
    // h1 {
    //   padding: 50%;
    text-align: center;
    // }
  }

  #second {
    // h1 {
    text-align: center;
    //   padding: 50%;
    // }
  }
  #third {
    //   h1 {
    text-align: center;
    //   }
  }
  #fourth {
    //   h1 {
    text-align: center;
    //   }
  }

  .active {
    -webkit-animation: fade-in 3000ms ease-out both;
    animation: fade-in 3000ms ease-out both;
  }
  .inactive {
    display: hidden;
  }

  .fadeFast {
    -webkit-animation: fade-in 3000ms ease-out both;
    animation: fade-in 3000ms ease-out both;
  }
}

@media screen and (min-width: 780px) {
  main {
    overflow: scroll;
    height: 100vh;
    // padding-bottom: 10vh;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    section {
      height: 100vh;
      scroll-snap-align: start;
      position: relative;
    }
    #welcome {
      h1 {
        padding: 30%;
        text-align: center;
      }
    }

    #second {
      h1 {
        text-align: center;
        padding: 30%;
      }
    }
    #third {
      h1 {
        text-align: center;
        padding: 30%;
      }
    }
    #fourth {
      h1 {
        text-align: center;
        padding: 30%;
      }
    }

    .active {
      -webkit-animation: fade-in 3000ms ease-out both;
      animation: fade-in 3000ms ease-out both;
    }
    .inactive {
      display: hidden;
    }

    .fadeFast {
      -webkit-animation: fade-in 3000ms ease-out both;
      animation: fade-in 3000ms ease-out both;
    }
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.big {
  font-size: xx-large;
}
