html,
body {
  height: 100%;
  // overflow: hidden;
}
h1,
h2,
p {
  font-family: lilita;
}
main {
  overflow: scroll;
  height: 100vh;
  // padding-bottom: 10vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  section {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
  }
  #welcome {
    background-image: url("https://64.media.tumblr.com/6cb0ae44278156aa660d95d55df340de/tumblr_nz14o7t0Z61skcd7fo1_500.gif");
    // mettere i credits nel footer a https://michaelshillingburg.tumblr.com/
    background-size: cover;
    background-repeat: no-repeat;

    #a {
      opacity: 0;
      animation: drop 1s linear forwards 0.5s;
    }
    #frontEnd {
      opacity: 0;
      animation: drop 3.5s linear forwards 1.5s;
    }

    // h1 {
    //   padding: 50%;

    // }
  }

  #second {
    background-image: url("https://64.media.tumblr.com/6cb0ae44278156aa660d95d55df340de/tumblr_nz14o7t0Z61skcd7fo1_500.gif");
    transform: rotate(180deg);
    background-size: cover;
    background-repeat: no-repeat;
    .contentContainer {
      transform: rotate(180deg);
    }

    text-align: center;
  }
  #third {
    background-image: url("https://64.media.tumblr.com/6cb0ae44278156aa660d95d55df340de/tumblr_nz14o7t0Z61skcd7fo1_500.gif");

    background-size: cover;
    background-repeat: no-repeat;

    //   h1 {
    text-align: center;
    //   }
  }
  #fourth {
    background-image: url("https://64.media.tumblr.com/6cb0ae44278156aa660d95d55df340de/tumblr_nz14o7t0Z61skcd7fo1_500.gif");
    transform: rotate(180deg);
    background-size: cover;
    background-repeat: no-repeat;

    //   h1 {
    text-align: center;
    //   }
  }

  .active {
    -webkit-animation: fade-in 3000ms ease-out both;
    animation: fade-in 3000ms ease-out both;
  }
  .inactive {
    display: hidden;
  }

  .fadeFast {
    -webkit-animation: fade-in 3000ms ease-out both;
    animation: fade-in 3000ms ease-out both;
  }
}

@media screen and (min-width: 780px) {
  main {
    overflow: scroll;
    height: 100vh;
    // padding-bottom: 10vh;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    section {
      height: 100vh;
      scroll-snap-align: start;
      position: relative;
    }
    #welcome {
      h1 {
        padding: 30%;
        text-align: center;
      }
      #frontEnd {
        opacity: 0;
        animation: drop 0.4s linear forwards 0.2s;
      }
      #developer {
        opacity: 0;
        animation: drop 0.4s linear forwards 0.2s;
      }
    }

    #second {
      h1 {
        text-align: center;
        padding: 30%;
      }
    }
    #third {
      h1 {
        text-align: center;
        padding: 30%;
      }
    }
    #fourth {
      h1 {
        text-align: center;
        padding: 30%;
      }
    }

    .active {
      -webkit-animation: fade-in 3000ms ease-out both;
      animation: fade-in 3000ms ease-out both;
    }
    .inactive {
      display: hidden;
    }

    .fadeFast {
      -webkit-animation: fade-in 3000ms ease-out both;
      animation: fade-in 3000ms ease-out both;
    }
  }
}
.big {
  font-size: xx-large;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes drop {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
