@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: lilita;
  src: url(./assets/fonts/Lilita_One/LilitaOne-Regular.ttf);
}
.bg-transparent {
  background-color: "transparent";
}
